.bus {
  font-size: 75%;
  display: inline-block;
  -o-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.dest {
  text-align: left;
}

.route {
  font-weight: bold;
  text-align: left;
}

.late {
  color: #ff0000;
}

.early {
  color: #55a6e0;
}

.nonews {
  color: #ffffff
}

.busStopName {
  text-align: left;
  font-size: 15px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #999;
}
